@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background-color: #dadada;
    height: 100vh;
}

.firstnav{
    background-color: #0f1111;
    max-height: 77px;
}

#textlogo{
    color: whitesmoke;

}

.firstcontainer{
    display: flex;
    justify-content: space-between;
    border: magenta 2px solid;
    width: 100%;
    height: 77px;
}

.logo img{
    border: aqua 2px solid ;
    width: 15vh;
    padding: 10px 0px;
    margin: 10px;
}

.location{
    border: red 2px solid;
}
.location>a{
    color: #fff;
    text-decoration: none;
}

.searchopn{
    border: yellow 2px solid;

}
 
.lang{
    border: rgb(68, 240, 68) 2px solid;
}

.account-option{
    border: navajowhite 2px solid;
}

.return-option{
    border: grey 2px solid;
}

.cart{
    border: blue 2px solid;
}

.secondnav{
   background-color: #232F3E;
   width: 100%;
   height: 40px;
}

.hero img{
    width: 100%;
    height: 30vh;
}

.backtotop input{
    background-color: #485769;
    color: #F5F5F5;
    width: 100%;
    height: 49px;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #485769;
}

.backtotop :hover{
    background-color: #586a80;
}

.midfooter{
    background-color: #232F3E;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.endfooter{
    background-color: #131A22;
    color: #F5F5F5;
    
}

.footerline{
    border-top: 5px solid #030303;
}

.midfooter-down{
    width: 100%;
    height: 100px;
    background-color: #232F3E;
}

.footerimg img{
    width: 100px;
}